.connexion {
  background-color: #f6f3f3;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.connexion-logo {
  display: flex;
  align-items: center;
}
.fa-youtube {
color: #1B1622;
}
.connexion-title {
font-size: 30px;
font-family: 'Laila Bold';
color: #4DBDFA;
}
#btnConnexion{
width: 300px;
height: 50px;
background-color: #4DBDFA;
color: #fff;
cursor: pointer;
border-style: none;
font-size: 12px;
font-family: 'Laila Bold';
border-radius: 8px;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.abonnement-chaine{
  display: flex;
  width: 75%;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-left: 100px;
  justify-content: space-between;
  margin: auto;
}
.image-chaine{
   display: flex;
  flex-wrap: wrap;
  width: 30%;
  height: 400px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin-bottom: 50px;
  border-radius: 20px;
  transition: transform .25s ease-out;
}
.image-chaine img{
  width: 100%;
   height: 250px;
   object-fit: cover;
   border-radius: 20px 20px 0 0;

}
.image-chaine p{
  color: #1B1622;
 font-size:16px;
 font-family: 'Laila Bold';
 padding: 0 10px;
 overflow: hidden;
 display: -webkit-box;
 -webkit-line-clamp: 2;
 -webkit-box-orient: vertical;

}
.video__title{
  color: #4DBDFA;
 font-size: 16px;
 font-weight: 400;
}
.chaine-title{
  padding-top: 100px;
  padding-left: 500px;
  font-size: 30px;
font-family: 'Laila Bold';
color: #4DBDFA;
}
.videochannel{
  display: flex;
  width: 75%;
  flex-wrap: wrap;
  padding-top: 100px;
  padding-left: 100px;
  justify-content: space-between;
  margin: auto;

}
.video-channel{
    display: flex;
  flex-wrap: wrap;
  width: 30%;
  height: 400px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin-bottom: 50px;
  border-radius: 20px;
  transition: transform .25s ease-out;

}
.video-channel img{
   width: 100%;
   height: 200px;
   object-fit: cover;
   border-radius: 20px 20px 0 0;

}
.comment__info{
color: #1B1622;
font-size:16px;
 font-family: 'Laila Bold';
}
.player{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  padding-top: 100px;
  padding-left: 50px;
  margin: auto;
}
.videoPlayer{
  display: flex;
  /* position: fixed; */
  width: 40%;
}
.SearchRelated{
  display: flex;
  flex-direction: column;
  width: 25%;
  margin-left: 700px;
  height: 300px;
  margin-bottom: 20px;
  border-radius: 10px;
}
.SearchRelate img{
   width: 100%;
   height: 200px;
  object-fit: cover;
}
.SearchRelated p{
  color: #1B1622;
font-size:16px;
font-family: 'Laila Bold';
 padding: 0 10px;
 overflow: hidden;
 display: -webkit-box;
 -webkit-line-clamp: 2;
 -webkit-box-orient: vertical;

}

@media (max-width: 768px){
.abonnement-chaine{
  padding-left: 130px;
}
.chaine-title{
font-size: 20px;
padding-left: 300px;
}
.image-chaine{
width: 30%;
}
.SearchRelated{
  display: none;
}
.player{
 padding-left: 130px;
}
}

@media (max-width: 640px){
.fa-youtube {
font-size: 40px;
}
.connexion-title {
font-size: 20px;
}
#btnConnexion{
width: 250px;
height: 30px;
}
.abonnement-chaine{
 width: 95%;
  padding-left: 0;
  margin: 0;
  justify-content: center;
}
.image-chaine{
  width: 80%;
}
.videochannel{
  width: 95%;
  padding-left: 0;
  margin: 0;
  justify-content: center;
}
.video-channel{
  width: 80%;
}
}
