.haeder{
display: flex;
justify-content: space-between;
width: 100%;
height: 10vh; 
background-color: #FFFF;
position: fixed;
z-index: 100;
align-items: center;
border: 1px solid rgba(0, 0, 0, 0.3);
}
.logo-haeder{
display: flex;
align-items: center;
margin-left: 50px;
}
.fa-youtube {
font-size: 20px;
color: #1B1622;
}
.fa-bars{
font-size: 20px;
color: #1B1622;
display: none;

}
.profil-icon{
 display: flex;
 align-items: center;
 margin-right: 80px; 
 margin-top: 5px;
 gap: 5px;
}
.haeder-title{
font-size: 30px;
font-family: 'Laila Bold';
color: #4DBDFA;

}
.input-recherche{
 display: flex;
 justify-content: center; 
 align-items: center;
 padding: 0%;
}
.recherche{
 width: 20vw;
  height: 7vh;
  padding-left: 5%;
  margin: 8px;
  border-radius: 8px;
  background-color: #F6F3F3;
  border: none;
  align-items: center;
  outline-offset: -2px;
  font-family: 'laila regular';
  color: #1B1622;
  line-height: 1.15;
  outline: none;
}
.icon-search{
width: 3vw;
height: 7vh;
margin-left: -10px;
padding-left: 10px;
padding-top: 5px;
padding-right: 10px;
background-color: #4DBDFA;
border: 1px solid #4DBDFA;
cursor: pointer;
}
.icon-user{
width: 40px;
height: 40px;
border-radius: 8px;
}
.icon-user img{
width: 100%;
height: 100%;
object-fit: cover;
border-radius: 20px;
}

.monCompte{
font-size: 16px;
font-family: 'laila Medium';
color: #4DBDFA;
}
.acceuil{
display: flex;
flex-direction: column;
width: 16vw;
height: 600px;
background-color: #F6F3F3;
border: 1px solid #F6F3F3;
border-radius: 20px;
position: fixed;
margin-top: 60px;
}

.active .Nav-icon{
  color: #FFF;
}
.deconnect{
  width: 150px;
  height: 30px;
  margin-top: 50px;
  margin-left: 30px;
  background-color: #4DBDFA;
  color: #fff;
  cursor: pointer;
  border-style: none;
  font-size: 16px;
  font-family: 'Laila Bold';
  border-radius: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.deconnect:hover{
 background-color: #FFF;
 color: #1B1622;
}
.Nav-icon{
color: #4DBDFA;
margin-right: 10px;
}
.videoAcceuil{
  display: flex;
  width: 75%;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-left: 100px;
  justify-content: space-between;
  margin: auto;
}
.videoAcceuil-title{
  padding-top: 100px;
  padding-left: 500px;
  font-size: 30px;
font-family: 'Laila Bold';
color: #4DBDFA;
}
.img-video{
  display: flex;
  flex-wrap: wrap;
  width: 22%;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  border-radius: 20px;
}
.img-video img{
   width: 100%;
   height: 200px;
   object-fit: cover;
   border-radius: 20px 20px 0 0;
}
.img-video p{
 color: #1B1622;
 font-size:16px;
 font-family: 'Laila Bold';
 padding: 0 10px;
 overflow: hidden;
 display: -webkit-box;
 -webkit-line-clamp: 2;
 -webkit-box-orient: vertical;
}
.acceuil a{
display: flex;
justify-content: center;
align-items: center;
text-decoration: none;
margin-top: 40px;
margin-bottom: 20px;
font-size: 20px;
font-family: 'laila Medium';
color: #1B1622;
}
.active{
  background-color: #4DBDFA;
  color: #FFF !important;
}
.acceuil a:hover{
background-color:#FFF;
color: #4DBDFA;
} 
a{
text-decoration: none;
}
.img-video .localized{
 color: #4DBDFA;
 font-size: 16px;
 font-family: 'laila Medium';
}
.videoLike{
display: flex;
margin-left: 30px;
gap: 20px;
}
.videoLike p{
font-size: 20px;
font-family: 'laila Medium';
color: #1B1622;

}
/*Parties mobile styles*/

.Menu-mobil{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 350px;
  background-color: #4DBDFA;
  margin-top: 50px;
  align-items: center;
  position: fixed;
  display: none;
}
.Menu-title{
display: flex;
margin-top: 60px;
gap: 20px
}
.Menu-title .fa-house {
  color: #FFF;
}
.acceuil-mobil{
  font-size: 20px;
  font-family: 'Laila Bold';
color: #1B1622;
}
.abonnement-mobil{
 display: flex;
margin-top: 20px;
margin-bottom: 30px;
gap: 20px
}
.abonnement-mobil .fa-video{
  color: #FFF;
}
.abonnement-mobil p{
font-size: 20px;
font-family: 'Laila Bold';
color: #1B1622;
}
.videoLike-mobil{
display: flex;
margin-left: 30px;
margin-bottom: 20px;
gap: 20px;
}
.videoLike-mobil p{
font-size: 20px;
font-family: 'Laila Bold';
color: #1B1622;
}
.deconnect-mobil{
  width: 150px;
  height: 30px;
  margin-top: 30px;
  margin-left: 30px;
  background-color: #FFF;
  color: #1B1622;
  cursor: pointer;
  border-style: none;
  font-size: 16px;
  font-family: 'Laila Bold';
  border-radius: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.dashbord{
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}


@media (max-width: 768px){
.logo-haeder{
margin-left: 20px;
}
.profil-icon{
 margin-right: 30px; 
}
.haeder-title{
font-size: 25px;
}
.icon-search{
width: 5vw;
}
.icon-user{
width: 8vw;
height: 8vh;
padding-top: 0;
}
.acceuil{
width: 25vw;
}
.deconnect{
 margin-left: 16px;
}
.videoAcceuil{
padding-left: 130px;
}
.videoAcceuil-title{
font-size: 20px;
padding-left: 300px;
}
.img-video{
width: 30%;
}
}


@media (max-width: 640px){
.haeder{
height: 16vh; 
}
.logo-haeder{
margin-left: 10px;
flex: 3;
width: 60px;
}
.fa-youtube {
font-size: 16px;
}
.haeder-title{
font-size: 20px;
}
.profil-user{
  display: none;
}
.fa-bars{
display: block;
margin-right: 30px;
font-size: 30px;
color: #4DBDFA;
cursor: pointer;
}

.fa-magnifying-glass{
font-size: 16px;
flex: 2;
}
.recherche{
width: 30vw;
}
.icon-search{
width: 10vw;
}
.input-recherche{
flex: 10;
}
.acceuil{
display: none;
}
.videoAcceuil{
width: 95%;
padding-left: 0;
margin: 0;
justify-content: center;
}
.img-video{
width: 80%;
}
.Menu-mobil{
display: flex;
}
.divState{
display: none;
}
.icon-user{
width: 50px;
height: 50px;
border-radius: 20px; 
padding-left: 0;
padding-top: 10px; 
}
.fa-thumbs-up{
color: #FFF;
}
}
