<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form  action="/saveuser" method="POST">

                
                <div class="mes_label">
                    <label for="name">Pénom</label>
                </div>
                <div class="mes_input">
                    <input type="text" id="prenom"  name="id_token" >
                </div>

                <div class="mes_label">
                    <label for="name">Nom</label>
                </div>
                <div class="mes_input">
                    <input type="text" id="nom"  name="name">
                </div>
                  <div class="mes_label">
                    <label for="groupe">picture</label>
                </div>
                <div class="mes_input">
                    <input type="text" id="group" name="picture">
                </div>
                  <div class="mes_label">
                    <label class="bio" for="bio">facebook</label>
                </div>
                <div class="mes_input">
                    <textarea class="textarea" id="bio" name="facebook"></textarea>
                </div>
                 <div class="mes_label">
                    <label for="groupe">instagram</label>
                </div>
                <div class="mes_input">
                    <input type="text" id="group" name="instagram">
                </div>
                <div class="mes_label">
                    <label for="name">twitter</label>
                </div>
                <div class="mes_input">
                    <input type="text" id="nom"  name="twitter">
                </div>
<!-- 
                <div class="mes_label">
                    <label for="name">Télephone</label>
                 </div>
                <div class="mes_input">
                    <input type="tel" id="numero"/>
                </div>
                <div class="mes_label">
                    <label for="name">Email</label>
                </div>
                <div class="mes_input">
                    <input type="email" id="mail" />
                </div>
                    <div class="space-to-drop" id="dropArea">
                       <p class="pargraph">Déposer la photo ici</p>
                    </div> -->
                <div class="button-groupe">
                   <input class="cree" type="submit" id="creer" value="Creer">
                </div> 
            </form>
</body>
</html>