.comment_add{
  margin-bottom: 30px;
}
.form_comment{
 display: flex;
 gap:10px;
 margin-bottom: 30px;
}
.comment_reponse{
 display: flex;
 gap:30px;
 margin-left: 30px;
}
.comments{
margin-top: 20px;
margin-left: 30px;
}
.commnt_user_profil img{
width: 30px;
height: 30px;
object-fit: cover;
border-radius: 30px
}
.comment_buttun{
  width: 100px;
  height: 30px;
  margin-top: 20px;
  background-color: #4DBDFA;
  color: #fff;
  cursor: pointer;
  border-style: none;
  font-size: 16px;
  font-family: 'Laila Bold';
  border-radius: 10px;
}
.commnt_user_profil{
  display: flex;
  gap: 10px;
  margin-bottom: 5px;
}
.name_user_comment{
 font-size: 16px;
 font-family: 'Laila Bold';
}
.comment-content{
  display: flex;
  margin-left: 40px;
  margin-bottom: 10px;
  font-size: 16px;
  font-family: 'laila Medium';
  color: #1B1622;
}
.reponde{
  font-size: 16px;
  font-family:'laila regular' ;
  cursor: pointer;
  color: #1B1622;
}
.subComment{
  display: flex;
  gap: 10px;
  margin-bottom: 5px;
}
.subComment img{
  width: 30px;
height: 30px;
object-fit: cover;
border-radius: 30px

}