* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.Search{
  display: flex;
  width: 75%;
  flex-wrap: wrap;
  padding-top: 100px;
  padding-left: 100px;
  justify-content: space-between;
  margin: auto;
}
.Search-content{
  display: flex;
  flex-wrap: wrap;
  width: 30%;
  height: 400px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin-bottom: 50px;
  border-radius: 20px;
  transition: transform .25s ease-out;
}
.Search-content img{
  width: 100%;
   height: 200px;
   object-fit: cover;
   border-radius: 20px 20px 0 0;
}
.video__title{
  color: #1B1622;
 font-size:16px;
 font-weight: 600;
 font-family: 'laila';
 padding: 0 10px;
 overflow: hidden;
 /* display: -webkit-box;
 -webkit-line-clamp: 2;
 -webkit-box-orient: vertical; */
}
.comment__info4{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  color: #1B1622;

}
.VideoLike{
  display: flex;
  width: 75%;
  flex-wrap: wrap;
  padding-top: 100px;
  padding-left: 100px;
  justify-content: space-between;
  margin: auto;
}
.VideoLike-content{
  display: flex;
  flex-wrap: wrap;
  width: 22%;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  border-radius: 20px;
}
.VideoLike-content img{
  width: 100%;
   height: 200px;
   object-fit: cover;
   border-radius: 20px 20px 0 0;
}
.VideoLike-content p{
 color: #1B1622;
 font-size:16px;
 font-weight: 600;
 font-family: 'laila';
 padding: 0 10px;
 overflow: hidden;
 display: -webkit-box;
 -webkit-line-clamp: 2;
 -webkit-box-orient: vertical;
}
.chargement{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 200px;
}

@media (max-width: 768px){
.VideoLike{
 padding-left: 130px;
}
.VideoLike-content{
  width: 30%;
}
}

@media (max-width: 640px){
.Search{
  width: 95%;
  padding-left: 0;
  margin: 0;
  justify-content: center;
}
.Search-content{
  width: 80%;
}
.VideoLike{
  width: 95%;
  padding-left: 0;
  justify-content: center;
}
}
.resutat_recherche{
   padding-top: 100px;
  padding-left: 500px;
  font-size: 30px;
font-family: 'Laila Bold';
color: #4DBDFA;
}

